streamlit
crewai-tools
crewai
google-search-results
serpapi
jupyter
git+https://github.com/openai/swarm.git
langchain-community
duckduckgo-search
onnxruntime
langgraph
datasets
matplotlib
openai-agents
grandalf
google-search-results